@import url("https://fonts.googleapis.com/css2?family=Hind:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

body {
  /* option 1  */
  background: #122c24;
  color: white;
}

.bg-black {
  background: transparent;
}

@layer components {
  .container {
    max-width: 1440px;
  }


  .page-wrapper {
    padding-top: 60px;
  }
}
