@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

body {
  /* option 1  */
  background: #122c24;
}

.bg-black {
  background: transparent;
}

@layer components {
  .container {
    padding: 20px;
    max-width: 1440px;
  }

  .container-large {
    padding: 30px;
  }

  .page-wrapper {
    padding-top: 60px;
  }
}
