@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

body {
  @apply dark:bg-black dark:text-white;
}

.bg-black {
  background: url(../public/images/brick_background.svg) #013328;
  background-blend-mode: multiply;
}

@layer components {
  .container {
    padding: 16px;
    max-width: 1440px;
  }

  .container-large {
    padding: 30px;
  }

  .page-wrapper {
    padding-top: 60px;
  }
}
